<!DOCTYPE>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TP04 Salas Samuel</title>
</head>
<body>
	<header>
		<h1>“Ingeniería para el bienestar de la sociedad”</h1>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Navbar</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Acerca de</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Carreras</a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="#">Ingenieria</a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura</a></li>
		            <li><a class="dropdown-item" href="#">Tecnicatura</a></li>
		          </ul>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Noticias</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Contacto</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	
	<div class="container">
		<main>
			<aside>
				<section>
					<h1>Biblioteca</h1>
				</section>
				<section>
					<h1>Cursos</h1>
				</section>
			</aside>
			<div>
				<h1>Facultad de Ingenieria de Jujuy</h1>
				<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) es una institución educativa ubicada en la ciudad de San Salvador de Jujuy, Argentina. La facultad ofrece carreras de ingeniería en diferentes áreas, como ingeniería en computación, ingeniería en electricidad, ingeniería en mecánica, entre otras.</p>
			</div>
			<div>
				<div class="card text-bg-dark">
					<img src="https://fi.unju.edu.ar/images/2024-Noticias/semana-ingenieria-2024.jpg" class="card-img" alt="SI">
					<div class="card-img-overlay">
					    <h5 class="card-title">Semana de la Ingenieria</h5>
					    <p class="card-text">Llega la Semana de la Ingeniería: El desafío de alimentar al mundo</p>
					</div>
				</div>
				<div class="card text-bg-dark">
					<img src="https://fi.unju.edu.ar/images/2024-Noticias/dia-ingenieria-argentina.jpg" class="card-img" alt="IA">
					<div class="card-img-overlay">
					    <h5 class="card-title">Dia de la Ingenieria Argentina</h5>
					    <p class="card-text">La ingeniería es mucho más que una carrera; es el motor que impulsa el progreso tecnológico, económico y social</p>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<p class="col-md-4 mb-0 text-body-secondary">Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
  		<!--	<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
					<li class="ms-3">
						<a class="text-body-secondary" href="#">
							<svg class="bi" width="24" height="24">
								<use xlink:href="#facebook"></use>
							</svg>
						</a>
					</li>
				</ul> -->
			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-body-secondary">Ítalo Palanca Nº 10 - San Salvador de Jujuy - Jujuy - Argentina</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-body-secondary">Telefono</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-body-secondary">info@fi.unju.edu.ar</a>
				</li>
			</ul>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>