<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<title>Listado de Alumnos</title>
</head>
<body>

	<header>
		<div data-th-replace="~{fragments/header :: header}">
		</div>
		<div data-th-replace="~{fragments/navbar :: navbar}">
		</div>
	</header>

	<div class="container">
		<h1>Listado de Alumnos</h1>
		<table class="table table-striped table-info">
			<thead>
				<tr>
					<th scope="col">DNI</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Correo</th>
					<th scope="col">Telefono</th>
					<th scope="col">Fecha de nacimiento</th>
					<th scope="col">Domicilio</th>
					<th scope="col">Libreta Universitaria</th>
					<th scope="col">Edicion</th>
				</tr>
			</thead>
			<tbody data-th-each="alumno : ${listadoAlumnos}">
				<tr>
					<td data-th-text="${alumno.dni}"></td>
					<td data-th-text="${alumno.nombre}"></td>
					<td data-th-text="${alumno.apellido}"></td>
					<td data-th-text="${alumno.email}"></td>
					<td data-th-text="${alumno.telefono}"></td>
					<td data-th-text="${alumno.nacimiento}"></td>
					<td data-th-text="${alumno.domicilio}"></td>
					<td data-th-text="${alumno.LU}"></td>
					<td >
						<a data-th-href="@{'/eliminarAlumno/' + ${alumno.dni}}" class="btn btn-danger">Eliminar</a>
						
						<a data-th-href="@{'/modificarAlumno/' + ${alumno.dni}}" class="btn btn-warning">Modificar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer>
		<div data-th-replace="~{fragments/footer :: footer}">
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>