<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<title>Listado de Materias</title>
</head>
<body>

	<header>
		<div data-th-replace="~{fragments/header :: header}">
		</div>
		<div data-th-replace="~{fragments/navbar :: navbar}">
		</div>
	</header>

	<div class="container">
		<h1>Listado de Materias</h1>
		<table class="table table-striped table-info">
			<thead>
				<tr>
					<th scope="col">Codigo</th>
					<th scope="col">Nombre</th>
					<th scope="col">Curso</th>
					<th scope="col">Codigo de la Carrera</th>
					<th scope="col">Modalidad</th>
					<th scope="col">Legajo del Docente</th>
					<th scope="col">Edicion</th>
				</tr>
			</thead>
			<tbody data-th-each="materia : ${listadoMaterias}">
				<tr>
					<td data-th-text="${materia.codigo}"></td>
					<td data-th-text="${materia.nombre}"></td>
					<td data-th-text="${materia.curso}"></td>
					<td data-th-text="${materia.carrera.nombre}+'-'+${materia.carrera.anios}+'-'+${materia.carrera.estado}"></td>
					<td data-th-text="${materia.modalidad}"></td>
					<td data-th-text="${materia.docente.nombre}+'-'+${materia.docente.apellido}+'-'+${materia.docente.email}+'-'+${materia.docente.telefono}"></td>
					<td >
						<a data-th-href="@{'/eliminarMateria/' + ${materia.codigo}}" class="btn btn-danger">Eliminar</a>
						
						<a data-th-href="@{'/modificarMateria/' + ${materia.codigo}}" class="btn btn-warning">Modificar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer>
		<div data-th-replace="~{fragments/footer :: footer}">
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>