<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<title>Modificar Carrera</title>
</head>
<body>

	<header>
		<div data-th-replace="~{fragments/header :: header}">
		</div>
		<div data-th-replace="~{fragments/navbar :: navbar}">
		</div>
	</header>
	
	<div class="container form">
		<h1>Modificar Carrera</h1>
		<form data-th-object="${carreraModificada}" data-th-action="@{/modificarCarrera}" method="post">
		
			<div class="mb-3">
				<label for="codigo" class="form-label">Codigo</label> 
				<input type="text" class="form-control" id="codigo" data-th-field="*{codigo}">
			</div>
			
			<div class="mb-3">
				<label for="nombreCarrera" class="form-label">Nombre de la carrera</label>
				<input type="text" class="form-control" id="nombreCarrera" data-th-field="*{nombre}">
			</div>
			
			<div class="mb-3">
				<label for="anios" class="form-label">Cantidad de años</label>
				<input type="number" class="form-control" id="anios" data-th-field="*{anios}">
			</div>
			
			<button type="submit" class="btn btn-warning">Modificar</button>
		</form>
	</div>
	
	<footer>
		<div data-th-replace="~{fragments/footer :: footer}">
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>