<!DOCTYPE>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bosstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="footer" data-th-fragment="footer">
		<footer class="bg-dark text-light py-4">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4">
		                <h5>Contacto</h5>
		                <ul class="list-unstyled" id="contacto">
		                    <li>1234567890</li>
		                    <li>info@fi.unju.edu.ar</li>
		                    <li>Ítalo Palanca Nº 10 - San Salvador de Jujuy - Jujuy - Argentina</li>
		                </ul>
		            </div>
		            <div class="col-md-4 text-center">
		                <p>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
		            </div>
		            <div class="col-md-4 text-right">
		                <h5>Síguenos</h5>
		                <ul class="list-inline">
		                    <li class="list-inline-item"><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
		                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a></li>
		                    <li class="list-inline-item"><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</footer>
	</div>
</body>
</html>