<!DOCTYPE>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar</title>
</head>
<body>
	<div class="navbar" data-th-fragment="navbar">		
		<div class="container-fluid bg-dark text-light">
			<div class="row align-items-center">
				<div class="col-md-12 text-center">
					<nav class="navbar navbar-expand-md navbar-dark">
						<div class="collapse navbar-collapse" id="navbarNav">
		                    <ul class="navbar-nav ml-auto">
		                    	<li class="nav-item">
			                        <a class="nav-link" href="#inicio">Inicio</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link" href="#acerca-de">Acerca de</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link" href="#noticias">Noticias</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link" href="#contacto">Contacto</a>
			                    </li>
		                    </ul>
		                </div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>