<!DOCTYPE>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sidebar</title>
</head>
<body>
	<div class="sidebar" data-th-fragment="sidebar">
        <div class="col-auto bg-dark text-light">
	        <div class="sidebar">
	          <h5>Contenido Adicional</h5>
	          <ul class="nav flex-column">
	            <li class="nav-item">
	              <a class="nav-link" href="https://www.unju.edu.ar/biblioteca.html">Biblioteca</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="https://www.unju.edu.ar/calendario_academico.html">Calendario Académico</a>
	            </li>
	          </ul>
	        </div>
	   	</div>
	</div>
</body>
</html>